hr, h3, .instructions {
    display: none
}

.instructions {
    width: 200px;
    padding: 0 20px 5px 20px;
    margin: 0 auto;
    background: rgb(114, 113, 55);
}

.instructions ul {
    padding-left: 10px;
}

.instructions li {
    margin: 10px 0;
}